---
layout: page
title: "About me"
description: "Hey, this is islent."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <h4>中文简历</h4>

    <h5>研究兴趣</h5>
    N体数值模拟，种子黑洞，星系形成与演化，AGN吸积与喷流，计算流体力学，非线性动力学，非线性光学，计算微分几何，计算机图形学，科学可视化

    <h5>教育经历</h5>
    <ul>
        <li>2016-2020 中国科学技术大学 物理学士</li>
        <li>2020-至今 中国科学院大学 中国科学院云南天文台 天体物理博士</li>
    </ul>

    <h5 name="publications">学术发表</h5>
    <ol>
        <li>(to be submitted) <b>Runyu Meng</b>, Qian Long, Yonda Zhu, Shiyan Zhong and Xiaobo Dong (2022). Unitful and differentiable gravitational N-body simulation code in Julia</li>
        <li>赵梓成, 龙潜, 董小波, <b>孟润宇</b>, 钟诗言, 谌俊毅, & 向梓琨. (2022). 基于深度学习的无碰撞引力 N 体数值模拟的可行性研究.</li>
        <li>(unpublished) <b>RunYu Meng</b>, YongDa Zhu, Qian Long, Xiaobo Dong (2020). Gadget2-MOND: A new generation MOND simulation code</li>
        <li>Xu, R., Mi, C., Mierzwiak, R., & <b>Meng, R.</b> (2019). Complex Network Construction of Internet Financial risk. arXiv preprint arXiv:1904.06640.</li>
    </ol>

    <h4>English CV</h4>
    <h5>Research interest</h5>
    N-body simulation, seed black hole, galactic formation and evolution, AGN accretion and jets, CFD, nonlinear dynamics, nonliner optics, differential geometry, computer graphics, scientific visualization

    <h5>Education</h5>
    <ul>
        <li>2016-2020 &nbsp&nbsp University of Science and Technology of China &nbsp&nbsp Bachelor of Physics</li>
        <li>2020-now  &nbsp&nbsp University of Chinese Academy of Sciences; Yunnan observatories, Chinese Academy of Sciences &nbsp&nbsp PhD in Astrophysics</li>
    </ul>

    <h5><a href="#publications">Publications</a></h5>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

